/* Login.css */

/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centering the form container */
.login-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title styling */
.login-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Spacing and styling for input fields */
.login-field {
  width: 100%;
  margin-bottom: 15px;
}

.login-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* Button styling */
.login-button {
  width: 100%;
  padding: 12px;
  background-color: #1b1b1b;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.login-button:hover {
  background-color: #474747; /* Darker shade on hover */
}
/* Error message styling */
.login-error {
  color: red;
  margin-top: 10px;
}
